* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../static/fonts/Roboto-medium.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../static/fonts/Roboto-regular.ttf");
}

body {
  font-family: "RobotoRegular", sans-serif;
}