.signup {
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;

    .signup-content {
      max-width: 397px;
      width: 100%;

      .signup-title {
        font-size: 40px;
        color: #052C65;
        font-family: "RobotoMedium", sans-serif;
      }

      .signup-form {
        input::placeholder {
          font-size: 15px;
          color: #6C757D;
        }
        .remember {
          font-size: 12px;
        }
        button {
          font-family: "RobotoMedium", sans-serif;
          font-size: 15px;
        }
      }
    }
  }
}